<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <head>
    <title>The Gossip Project</title>
  </head>
  <body> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:4567">Retourner aux potins</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </nav>
  <h1>Modifie un potin !</h1>
  <br/> 
  <p>Met à jour le potin <%= id%> </p> 
  <form action='/gossips/edit/' method='POST'> 
      <% gossips.each do |gossip| %>
          Choisi le nouveau nom :  <input type='text' name='new_author' value="<%= gossip.author %>" /><br/> 
          Choisi un nouveau potin croustillant : <input type='text' name='new_content' value="<%= gossip.content %>" /><br/> 
       <% end %>
       <input type='submit' class='submit-btn' value='Editer le potin'/>
  </form> 
  </body>
</html>
